<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pictures</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: DodgerBlue;
            text-align: center;
        }
        .picture {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .picture > * {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h2>Edit image</h2>
    <div class="picture">
        <img src="{{ picture.image.url }}" width="60%">
    </div>
    <br><br>
    <form action="{% url 'media:edit' picture.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <br>
        <a href="{% url 'media:index' %}" class="btn btn-warning" style="text-align: center">Cancelar</a>
        <input type="submit" value="Gravar" class="btn btn-success" >
        <a href="{% url 'media:delete' picture.pk %}" class="btn btn-danger" style="text-align: center">Apagar</a>
    </form>
</body>
</html>