<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vela</title>
    {% load static %}
    <link rel="icon" href="{% static 'sailing.ico' %}" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
          background-color: DodgerBlue;
        }
        h1 {
            text-align: center;
        }
        .pictures {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .pictures > a {
            margin: 10px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Vela</h1>
    <div class="pictures">
        {% for picture in pictures %}
        <a href="{% url 'media:picture' picture.pk %}" style="text-align: center">
            <img src="{{ picture.image.url }}" width="300px">
            <br>{{ picture.name }}<br>
        </a>
        {% endfor %}
    </div>
    <p style="text-align: center">
        <br><br>
        <a href="{% url 'media:upload' %}" class="btn btn-success" >Carregar imagem</a>
    </p>

</body>
</html>