<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="icon" href="{% static 'sailing.ico' %}" type="image/ico" sizes="16x16">
    <style>
        body {
            background-color: DodgerBlue;
            text-align: center;
        }
        h1 {
            text-align: center;
            color: white;
            padding: 20px 0px 0px 0px;
        }

    </style>
    <title>Vela</title>
</head>
<body>
    <h1>Carregar fotografia</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <br>
            <a href="{% url 'media:index' %}" class="btn btn-warning" style="text-align: center">Cancelar</a>
            <input type="submit" value="upload image">
        </div>
    </form>
</body>
</html>