<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="icon" href="{% static 'sailing.ico' %}" type="image/ico" sizes="16x16">
    <style>
        body {
            background-color: DodgerBlue;
            text-align: center;
        }
    </style>
    <title>Vela</title>
</head>
<body>
    <h2>Upload image</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <br>
            <input type="submit" value="upload image">
        </div>
    </form>
</body>
</html>