<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="icon" href="{% static 'sailing.ico' %}" type="image/ico" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: DodgerBlue;
            text-align: center;
            color: white;
        }
        label {
          display: inline-block;
          width: 140px;
          text-align: right;
        }
        h1, h4 {
            text-align: center;
            color: white;
            padding: 20px 0px 0px 0px;
        }

    </style>
    <title>Vela</title>
</head>
<body>
    <h1>Novo Modelo</h1>
    <h4>Carrega uma fotografia de um barco à vela que gostes!</h4>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <br>
            <input type="submit" value="Carregar fotografia" class="btn btn-success">
            <a href="{% url 'media:index' %}" class="btn btn-warning" style="text-align: center">Voltar</a>
        </div>
    </form>
</body>
</html>